django>=2.0.0,<2.0.99
django-flat-responsive
djangorestframework
pytz
requests
# adafruit-DHT
adafruit-mcp3008
RPi.GPIO
pytradfri
dj-static
django-oauth-toolkit
django-cors-middleware
django-sslserver