{% load staticfiles %}
{% load rooms %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Material Design for Bootstrap fonts and icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <link rel="stylesheet"
              href="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css"
              integrity="sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "common/style.css" %}">

        <title>Jonathans Home Automation</title>


    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light bg-light mb-2">
            <a class="navbar-brand" href="{% url 'index' %}">Björkdala Automation</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if current_page == 'Devices' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'index' %}">Alla enheter</a></li>

                    {% get_rooms as rooms %}
                    {% for room in rooms %}
                        <li class="nav-item {% if current_page == room.name %}active{% endif %}">
                            <a class="nav-link" href="{{ room.get_absolute_url }}">{{ room.name }}</a></li>
                    {% endfor %}
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li class="nav-item {% if current_page == 'Sensors' %}active{% endif %}">
                        <a class="nav-link" href="{% url "sensors" %}">Sensors</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url "admin:index" %}">Admin</a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            {% block content %}{% endblock %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"
                integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
                crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js"
                integrity="sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe"
                crossorigin="anonymous"></script>
        <script src="{% static "common/scripts.js" %}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
        <script>$(document).ready(function () {
            $('body').bootstrapMaterialDesign();
        });</script>
    </body>
</html>