{% extends 'common/master.html' %}
{% load sensors %}
{% block content %}
    {% get_mcp3008_devices as devices %}
    {% for t in devices %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ t.name }}</h3></div>
            <div class="panel-body">
                {{ t.formatted_value }} <br>
            </div>
        </div>
    {% endfor %}
    {% get_thermometers as thermometers %}
    {% for t in thermometers %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ t.name }}</h3></div>
            <div class="panel-body">
                {% if t.show_temperature %}
                Temperature: {{ t.last_temperature }}°C
                {% endif %}
                {% if t.show_temperature and t.show_humidity %}
                <br>
                {% endif %}
                {% if t.show_humidity %}
                Humidity: {{ t.last_humidity }}%
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% get_capacitor_devices as devices %}
    {% for t in devices %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ t.name }}</h3></div>
            <div class="panel-body">
                {{ t.last_value }}{{ t.unit }} <br>
            </div>
        </div>
    {% endfor %}
    {% get_w1_devices as devices %}
    {% for t in devices %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ t.name }}</h3></div>
            <div class="panel-body">
                {{ t.temperature }}{{ t.unit }} <br>
            </div>
        </div>
    {% endfor %}
    {% get_network_devices as devices %}
    {% for t in devices %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ t.name }}</h3></div>
            <div class="panel-body">
                {{ t.value }}{{ t.unit }} <br>
            </div>
        </div>
    {% endfor %}
{% endblock %}
